import os
os.environ["DATABASE_URL"] = "postgres://postgresurl"

os.environ["SECRET_KEY"] ="your_key"
os.environ["CLOUDINARY_URL"] = "cloudinary://cloudinaryurl"
os.environ["STRIPE_PUBLIC_KEY"] = "Insert key"
os.environ["STRIPE_SECRET_KEY"] = "Insert key"
os.environ["EMAIL_KEY"] = "Insert Key"
os.environ["DEBUG"] = "True"
os.environ["BASE_URL"] = "Insert URL"