{% extends 'base.html' %}

{% block content %}
<h2>Your Basket</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Item Number</th>
        <th scope="col">Record Title</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object.bagitem_set.all %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.product.title }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.get_bag_item_total }}</td>
        <td>Delete</td>
      </tr>
      {% empty %}
      <tr><td colspan="5" class="text-center">There are no items in your bag</td></tr>
      {% endfor %}
      <tr>
        <td>&nbsp;</td>
        <td colspan="2" class="text-left">Bag Total</td>
        <td>{{object.total}}</td>
        <td>&nbsp;</td>
      </tr>

    </tbody>
  </table>
</div>

{% endblock %}