{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link href="{% static 'p5_ecommerce_store/css/detail.css' %}" rel="stylesheet">
{% endblock %}
{% load cloudinary %}  
{% block content %}

<main>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
          {% for product in object_list %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a href="{% url 'product_detail' product.id %}">
              {% cloudinary product.image format="jpg" alt=product.artist width=288 height=350 class="bd-placeholder-img card-img-top" crop="fill" %}
              </a>
              <div class="card-body">
                <p class="card-text"><strong>
                  Title:</strong> {{product.title}}</p>
                  <p><strong> Artist:</strong> {{ product.artist }}</p>
                  <p><strong> Label:</strong> {{ product.label }}</p>
                  <p><strong> Price:</strong> {{ product.price }}</p>
                  <p><strong> Genre:</strong> {{ product.category }}</p>
                  <hr>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-secondary bg-dark" href="{% url 'product_detail' product.id %}">
                    View
                    </a>
                    <form action="{% url 'basket' %}" method="GET">{% csrf_token%}
                      <input type="hidden" name="product_id" value="{{product.id}}"/>
                          <button type="submit" class="btn btn-sm btn-secondary bg-dark">Add to Basket</button>
                    </form>
                  </div>
                  {% if product.preview_audio_link %}
                    <a class="btn btn-sm btn-secondary bg-dark" href="{{product.preview_audio_link}}" target="_blank" rel="nofollow noopener">
                      <i class="fas fa-solid fa-play"></i>Listen
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</main>
{% endblock %}