{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'p5_ecommerce_store/css/checkout.css' %}"/>
    <script src="https://js.stripe.com/v3/"></script>
    
{% endblock %}
{% block content %}
<div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Order Summary</h2>
      </div>

      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Your cart</span>
            <span class="badge bg-primary rounded-pill">{{object.bagitem_set.count}}</span>
          </h4>
          <ul class="list-group mb-3">
            {% for item in object.bagitem_set.all %}
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">{{ item.product.title }}</h6>
                <small class="text-muted">Quantity:{{ item.quantity }}</small>
              </div>
              <span class="text-muted">£{{ item.get_bag_item_total }}</span>
            </li>
           {% endfor %}
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (GBP)</span>
              <strong>£{{object.total}}</strong>
            </li>
          </ul>
            
        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Shipping Address</h4>
            <hr class="my-4">
  
            <h4 class="mb-3">Payment</h4>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
              {% endif %}
            <!-- Display a payment form -->
            <form id="payment-form">
              {{ public_stripe|json_script:"stripe-id" }}
              {{ bag_id|json_script:"bag-id" }}
              {{ return_url|json_script:"return-url" }}
              {{ return_url }}
              {{ client_secret|json_script:"client-secret" }}
              <div id="payment-element">
              <!--Stripe.js injects the Payment Element-->
              </div>
              <button id="submit">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">Pay now</span>
              </button>
              <div id="payment-message" class="hidden"></div>
            </form>
  
        </div>
      </div>
    </main>
    <script src="{% static 'p5_ecommerce_store/js/checkout.js' %}" defer></script>
{% endblock %}