{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link href="{% static 'p5_ecommerce_store/detail.css' %}" rel="stylesheet">
<!-- <style>
    .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
</style> -->
{% endblock %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">{{product.title}}</h1>
      <p> Artist: {{ product.artist }}</p>
      <p> Label: {{ product.label }}</p>
      <p> Price: {{ product.price }}</p>
      <p> Genre: {{ product.category }}</p>
      <p class="col-md-8 fs-4">{{ product.description|safe }}</p>
      <button class="btn btn-sm btn-outline-secondary" type="button">Play</button>
      <a href="{% url 'home' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary">Go back to store</button>
      </a>
      <form action="{% url 'basket' %}" method="GET">{% csrf_token%}
        <input type="hidden" name="product_id" value="{{product.id}}"/>
        <input type="number" name="quantity"/>
            <button type="submit" class="btn btn-sm btn-outline-secondary">Add to Basket</button>
      </form>
      {% if request.user.is_authenticated %}
      <div>
        <p>Average Rating: 5</p>
        <p>Rate this record!!</p>
        <form method="post" action="{% url 'rate_record' product.id %}">{% csrf_token %}
          <input type="submit" name="rate" value="1">
          <input type="submit" name="rate" value="2">
          <input type="submit" name="rate" value="3">
          <input type="submit" name="rate" value="4">
          <input type="submit" name="rate" value="5">

        </form>
      </div>
      {% endif %}
    </div>
  </div>


{% endblock %}