{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link href="{% static 'p5_ecommerce_store/detail.css' %}" rel="stylesheet">
<!-- <style>
    .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
</style> -->
{% endblock %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">{{product.title}}</h1>
      <p> Artist: {{ product.artist }}</p>
      <p> Label: {{ product.label }}</p>
      <p> Price: {{ product.price }}</p>
      <p class="col-md-8 fs-4">{{ product.description|safe }}</p>
      <button class="btn btn-sm btn-outline-secondary" type="button">Play</button>
      <a href="{% url 'home' %}">
      <button type="button" class="btn btn-sm btn-outline-secondary">Go back to store</button>
      </a>
      <form action="" method="GET">{% csrf_token%}
        <input type="hidden" name="product_id" value="{{product.id}}"/>
        <input type="number" name="quantity"/>
            <button type="submit" class="btn btn-sm btn-outline-secondary">Add to Basket</button>
          </form>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Change the background</h2>
        <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
        <button class="btn btn-outline-light" type="button">Example button</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Add borders</h2>
        <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
        <button class="btn btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
  </div>

{% endblock %}