<header>
      
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Classic House Vinyl Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <a href="{% url 'home' %}">
                <button class="w-100 btn btn-lg btn-primary" type="button">Home</button>
              </a>
              <a href="{% url 'login' %}">
                <button class="w-100 btn btn-lg btn-primary" type="button">Login</button>
              </a>
              <a href="{% url 'signup' %}">
                <button class="w-100 btn btn-lg btn-primary" type="button">Signup</button>
              </a>
              <a href="{% url 'basket' %}">
                <button class="w-100 btn btn-lg btn-primary" type="button">Basket</button>
              </a>
          
