{% load static %}
<link href="{% static 'p5_ecommerce_store/detail.css' %}" rel="stylesheet">

<header>
      

      <div class="collapse navbar-collapse center" id="navbarCollapse">
        <ul class="navbar-nav mr-auto center">
          <div>
            <a href="{% url 'home' %}">
                <button class="w-100 btn btn-lg btn-primary center" type="button">Home</button>
              </a>
          </div>
          <br>
              <a href="{% url 'login' %}">
                <button class="w-100 btn btn-lg btn-primary" type="button">Login</button>
              </a>
              <a href="{% url 'signup' %}">
                <button class="w-100 btn btn-lg btn-primary" type="button">Signup</button>
              </a>
              <a href="{% url 'basket' %}">
                <button class="w-100 btn btn-lg btn-primary" type="button">Basket</button>
              </a>
          
